* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', Helvetica, sans-serif;
    background-color: beige;
}

#page-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60px 80vh 1200px auto;
    grid-template-areas: 
        "nav nav nav nav nav nav"
        "header header header header header header"
        "main main main main main main"
        "footer footer footer footer footer footer";
    background-color: #222;
}


#nav-section {
    grid-area: nav;
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#header-section {
    grid-area: header;
    background-color: #444;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 50px; */
}

.backgd-img {
    background-image:
      url('/img/backgd.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.opaque {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url('/img/backgd.jpg');
}


main {
    grid-area: main;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
    background-color: #222;
}

footer {
    grid-area: footer;
    background-color:  #222;
    display: flex;
    flex-wrap: wrap;
}

#logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#logo svg {
    width: 50px;
    height: 50px;
}

#logo-img {
    width: 60px;
    height: 60px;
}

#logo a {
    display: block;
    color: #7fe9db;
    text-decoration: none;
    font-size:20px;
    font-weight: 700;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #7fe9db;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 2px;
    margin-right: 5px;
}

nav li a:hover:not(.active) {
    background-color: #444;
}

a.active {
    background-color: #7fe9db;
    color: #000;
}

header h1{
    font-size: 42px;
    color: #7fe9db;
}

#header-section p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
}

#header-section a {
    display: block;
    color: #000;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
    border-radius: 2px;
    margin-right: 5px;
    background-color: #7fe9db;
    width: 100px;  
    transition: background-color 0.3s ease-in-out;  
    
}

#header-section a:hover {
    color: #000;
    background-color: #fff;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: center;
    align-items: center;
}

#why-section {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
    background-color: #f0db4f;
}

.why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reasons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#why-section h2 {
    width: 40%;
    height: 100%;
    font-size: 45px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    padding: 20px 8px 20px 8px;
    direction: rtl;
    text-transform: capitalize;
}
#why-section ol {
    list-style: none; 
    width: 40%;
    font-size: 18px;
    height: 80%;
    margin-bottom: 15px;
    /* border: 2px solid; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* background-color: #03e9ca; */
    padding: 8px 0 8px 8px;
}

#why-section li::first-letter {
    font-size: 120%;
    font-weight: 600;
}

#why-section li p {
    margin-bottom: 10px;
    font: 18px/1.8 Helvetica, sans-serif;
    padding-left: 60px;
}

#why-section span {
    position: absolute;
}

#why-section ol li {
    position: relative;
  font: bold italic 32px Helvetica, Verdana, sans-serif;
  margin-bottom: 10px;
}


#docs-section {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    justify-content: space-around;
    background-color: #f0824f;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

#docs-section h2{
    font-size: 30px; 
    width: 100%;
    margin-top: 10px;
}
#docs-section h3{
    font-size: 20px; 
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.sides-padding {
    padding: 0 50px;
}


.step {
    width: 20%;
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #000;
    color: #fff;
}

.square {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 100;
    left: calc(50% - 30px);
    top: calc(100% - 30px);
    background-color: #7fe9db;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

.square-box-shadow-transition {
    transition: box-shadow 0.5s ease-in-out;
}

.square-box-shadow {
    -webkit-box-shadow: 15px 15px 25px -4px rgba(133,133,133,0.5);
    -moz-box-shadow: 15px 15px 25px -4px rgba(133,133,133,0.5);
    box-shadow: 15px 15px 25px -4px rgba(133,133,133,0.5);
}

.square a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.square:hover {
    cursor: pointer;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #78dacc;
}

.step span {
    color: #f0db4f;
}

#code {
    position: fixed;
    top: -100px;
    left: -100px;
    background-color: transparent;
    color: transparent;
}
                    
#syntax-section {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    
}

#explain {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
}

#explain p {
    margin-top: 10px;
    font-size: 17px;
}

#code-syntax {
    width: 40%;
}

code {
    border-radius: 8px;
    height: 100%;
}

#explain span {
    color: rgb(156, 1, 1);
    font-weight: bold;
    background-color: rgb(240, 239, 239);
}

#explain .explain-title {
    color: black;
    font-weight: bold;
    background-color: transparent;
}

footer {
    background-color:#78dacc;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer h3 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

footer p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}

footer ul {
    margin-top: 10px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

footer li {
    float: left;
    padding: 8px 8px;
    border: 2px solid;
     border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
}

footer i {
    font-size: 24px; 
}

footer a {
    text-decoration: none;
    color: #000;
}

footer li:hover {
    cursor: pointer;
    background-color: #000;
}

footer li:hover a {
    color: rgb(184, 0, 0);
}

footer .heart {
    
    font-size: 24px;
}
.email:hover {
    color: rgb(184, 0, 0);
}

@media screen and (max-width: 1200px) {
    #why-section,
    #docs-section,
    #syntax-section,
    footer {
        width: 90%;
    }
}

@media screen and (max-width: 1050px) {
    #why-section h2,
    #why-section ol,
    #explain,
    #code-syntax {
        width: 45%;
    }
}